
{% extends "base.html" %}

{% block content %}
    <section>
        <div class="top-image">
            <img src="static/media/home-page.jpg">
            <div class="text-overlay">
                <h1>Christmas Capsule</h1>
                <p>Sparkle up your holidays</p>
                <button>VAI ALLA COLLEZIONE</button>
            </div>
        </div>
    </section>

    <section>
        <div class="jewellery">
            <div class="section">
                <div class="image-wrapper">
                    <img src="/static/media/lovli.png">
                </div>
                <div class="image-description">
                    Lovli
                </div>
            </div>

            <div class="section">
                <div class="image-wrapper">
                    <img src="/static/media/charmi.png">
                </div>
                <div class="image-description">
                    Charmi
                </div>
            </div>

            <div class="section">
                <div class="image-wrapper">
                     <img src="/static/media/orecchini.png">
                </div>
                <div class="image-description">
                    Orecchini
                </div>
            </div>

            <div class="section">
                <div class="image-wrapper">
                    <img src="/static/media/anelli.png">
                </div>
                <div class="image-description">
                    Anelli
                </div>
            </div>

            <div class="section">
                <div class="image-wrapper">
                    <img src="/static/media/collane.png">
                </div>
                <div class="image-description">
                    Collane
                </div>
            </div>

            <div class="section">
                <div class="image-wrapper">
                    <img src="/static/media/bracciale.png">
                </div>
                <div class="image-description">
                    Bracciali
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="story-wrapper">
            <div class="img-story">
                <img src="static/media/home-img.png">
            </div>
            <div class="story">
                <h1> LA STORIA DI AMABILE </h1>
                <p> Quella di Amabile e di Martina Strazzer, CEO e Founder, è una bellissima storia di determinazione, che ci insegna che non sempre la strada già tracciata è quella giusta, e che per raggiungere i propri obiettivi bisogna avere il coraggio di mettersi in gioco.</p>
                <button><a href="/about">SCOPRI DI PIU</a></button>
            </div>
        </div>
    </section>




{% endblock %}
