{% extends "base.html" %}

{% block content %}
<div class="block-content">
    <div class="top-image" xmlns="http://www.w3.org/1999/html">
        <img alt="Top Image" src="static/media/home-img.png">
        <div class="text-overlay">
            <h1>OGNI GIOIELLO UN PEZZO DI TE</h1>
        </div>
    </div>

    <div class="chi-siamo">
        <section>
            <h1>CHI SIAMO</h1>
            <div class="navbar-page">
                <a href="#nascita">COME NASCE AMABILE</a>
                <a href="#valori">I NOSTRI VALORI</a>
                <a href="#community">LA NOSTRA COMMUNITY</a>
            </div>
        </section>

        <section class="introduzione">
            <p>
                Amabile è il brand di gioielli fondato da Martina Strazzer nel 2020 a Modena.
            </p>
            <p>
                Le creazioni Amabile sono tutte interamente realizzate in argento 925 e argento 925 placcato oro.
                L’argento non rodiato conferisce ai nostri gioielli un colore e una lucentezza particolarmente intensi;
                inoltre, sia l’argento che l’oro in cui è placcato sono materiali preziosi e anallergici,
                che rispettano la sensibilità della pelle e durano nel tempo.
            </p>
            <div class="image-container">
                <img alt="Prima Foto" src="static/media/prima_foto.jpg">
            </div>
            <p>
                L’eleganza e la ricerca del nuovo sono alla base del design dei gioielli Amabile.
            </p>
            <p>
                Grazie alla loro rinnovata classicità, sono estremamente versatili, adatti a qualsiasi età e
                circostanza.
                Ma ciò che li rende davvero speciali e iconici è la storia che raccontano: la tua.
            </p>
            <p>
                Come recita il nostro motto, “Ogni gioiello, un pezzo di te”. Messi gli uni accanto agli altri,
                preziosamente collezionati nel corso degli anni, i gioielli Amabile scandiscono i momenti speciali
                della tua vita, accompagnandoti nel tuo cammino.
            </p>
            <div class="image-container">
                <img alt="Seconda Foto" src="static/media/seconda_foto.jpg">
            </div>
            <p>
                Così, quando infili un Lovli o un Charmi nel piercing che hai appena fatto - perché volevi celebrare
                quel traguardo importante che hai finalmente raggiunto, per iniziare un nuovo capitolo della tua vita, o
                magari semplicemente perché ti sta da dio! - non stai semplicemente indossando un orecchino; stai
                creando il segnalibro di un nuovo ricordo.
            </p>

        </section>
    </div>

    <div class="nascita" id="nascita">
        <section>
            <h1>COME NASCE AMABILE</h1>
            <div class="timeline">
                <div class="entry">
                    <div class="year">2019</div>
                    <div class="title">I Primi Disegni</div>
                    <div class="description">
                        Martina ha 19 anni, si è appena iscritta all'università, ma non è troppo convinta del
                        percorso che ha intrapreso. Tra una lezione e l'altra, però, disegna gioielli, semplici,
                        minimal, ma molto graziosi.
                    </div>
                    <div class="image-container">
                        <img alt="Anelli con gancetto" src="static/media/about-us-primi-disegni.jpg">
                        <div class="caption">
                            Questi anelli con gancetto sono stati una delle primissime creazioni di Martina
                        </div>
                    </div>
                </div>
                <div class="entry">
                    <div class="year">2020</div>
                    <div class="title">TIKTOK</div>
                    <div class="description">
                        In Italia spopola TikTok, e Martina diventa presto virale. Nei suoi video mostra le sue
                        creazioni,
                        e la community le accoglie con estremo entusiasmo. Video dopo video, gioiello dopo gioiello,
                        le richieste cominciano a fioccare: bisogna pensare più in grande.
                    </div>
                    <div class="image-container">
                        <img alt="Anelli con gancetto" src="static/media/tiktok.png">
                        <div class="caption">
                            Questi anelli con gancetto sono stati una delle primissime creazioni di Martina
                        </div>
                    </div>
                </div>
                <div class="entry">
                    <div class="year">4 Agosto</div>
                    <div class="title">AMABILE JEWELS VA ONLINE</div>
                    <div class="description">
                        Martina lancia ufficialmente l’e-commerce di Amabile. Abbiamo scelto questa data particolarmente
                        significativa per festeggiare il compleanno di Amabile.
                    </div>
                    <div class="image-container">
                        <img alt="Anelli con gancetto" src="static/media/about-us-amabile-va-online.jpg">
                        <div class="caption">
                            Questi anelli con gancetto sono stati una delle primissime creazioni di Martina
                        </div>
                    </div>
                </div>
                <div class="entry">
                    <div class="year">2021</div>
                    <div class="title">IL PRIMO LOVLI</div>
                    <div class="description">
                        Esce la prima versione del gioiello che in breve tempo diventerà sinonimo di Amabile: il Lovli.
                    </div>
                    <div class="image-container">
                        <img alt="Lovli fiocco in argento placcato oro" src="static/media/about-us-primo-lovli.jpg">
                        <div class="caption">
                            Il Lovli nella sua prima versione “fiocco” in versione argento placcato oro
                        </div>
                    </div>
                </div>

                <div class="entry">
                    <div class="year">2022</div>
                    <div class="title">1 MILIONE DI FOLLOWER</div>
                    <div class="description">
                        Martina festeggia 1 milione di follower sul profilo TikTok.
                    </div>
                    <div class="image-container">
                        <img alt="Martina festeggia 1 milione di follower su TikTok"
                             src="static/media/about-us-1-milione.jpg">
                        <div class="caption">
                            Martina festeggia 1 milione di follower su TikTok
                        </div>
                    </div>
                </div>

                <div class="entry">
                    <div class="year">2023</div>
                    <div class="title">INCONTRO CON LA COMMUNITY</div>
                    <div class="description">
                        Finalmente Amabile incontra la sua community: il concorso a premi “Biglietto d’oro Amabile
                        Jewels” offre a quattro fortunate vincitrici la possibilità di vincere un viaggio alle Maldive
                        insieme a Martina. L’iniziativa ha un successo enorme e contribuisce ulteriormente a rafforzare
                        la mission e l’identità del brand.
                    </div>
                    <div class="image-container">
                        <img alt="Cartolina dalle Maldive con le vincitrici del concorso"
                             src="static/media/about-us-incontro-comunity.jpg">
                        <div class="caption">
                            Una cartolina dalla bellissima vacanza alle Maldive che Martina ha trascorso con le
                            vincitrici del concorso
                        </div>
                    </div>
                </div>

                <div class="entry">
                    <div class="year">Oggi</div>
                    <div class="title">CONTINUIAMO A CRESCERE</div>
                    <div class="description">
                        Dalla sua nascita ad oggi, oltre 40 persone hanno preso parte al progetto di Amabile, e il team
                        continua a crescere. Giorno dopo giorno, riceviamo sempre più ordini e continuiamo ad
                        impreziosire la vita di chi indossa i nostri gioielli.
                    </div>
                    <div class="image-container">
                        <img alt="Martina sommersa dagli ordini natalizi" src="static/media/about-us-continuiamo-a-crescere.jpg">
                        <div class="caption">
                            Martina letteralmente sommersa dagli ordini ricevuti nel periodo natalizio
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>

    <div class="valori" id="valori">
        <section>
            <h1>I NOSTRI VALORI</h1>
            <p>Amabile è una realtà professionale giovane e, ad oggi, quasi totalmente declinata al femminile. Infatti, proprio come Martina Strazzer, nostra CEO e Founder, anche la maggior parte del team è composto da donne di età compresa tra i 20 e i 30 anni.</p>
            <div class="image-container">
                <img alt="Prima Foto" src="static/media/I-nostri-valori-cropped1.jpg">
            </div>
            <p>Ciò che accomuna le “persone di Amabile” è una profonda fiducia nel brand e un grande entusiasmo nei confronti della sua missione. Sappiamo, infatti, che i nostri valori sono anche quelli della nostra community, e che indossare Amabile significa, in un certo senso, indossare ciò in cui crediamo.</p>
            <p>Il nostro team è accomunato da un mindset propositivo e aperto allo scambio e al dialogo: come Martina ama spesso raccontare, ci piace fare brainstorming e confrontare le nostre idee, perché vogliamo che i nostri gioielli rappresentino unicità e pluralità al tempo stesso.</p>
            <div class="image-container">
                <img alt="Prima Foto" src="static/media/I-nostri-valori-cropped2.jpg">
            </div>
            <p>Fiducia, inclusività e rispetto: è su questi tre valori che fondiamo le nostre relazioni professionali, coltivando e sostenendo reciprocamente il nostro talento, consapevoli che ciascunə di noi è fondamentale alla crescita di tuttə.</p>
        </section>
    </div>

    <div class="comunity" id="community">
        <section>
            <h1>LA NOSTRA COMMUNITY</h1>
            <p>Ad oggi, la community di Amabile conta, tra gli account aziendali e quelli della CEO e Founder Martina Strazzer, circa 2 milioni di follower su TikTok e 1 milione di follower su Instagram.</p>
            <p>Questi numeri ci riempiono di orgoglio, ma non avrebbero altrettanto valore se la nostra community non fosse quella che è, e cioè una parte fondamentale della storia e della vita del brand. È proprio grazie a lei che abbiamo la possibilità di mostrare chi e cosa c’è dietro l’ideazione dei nostri gioielli, e di raccontare cosa significano realmente per noi.</p>
            <div class="image-container">
                <img alt="Prima Foto" src="static/media/Mask_Group_40_2x.jpg">
            </div>
            <p>Ogni volta che sveliamo i retroscena di una collezione, ripercorriamo la giornata tipo di una delle nostre collaboratrici, oppure annunciamo con entusiasmo i prossimi eventi a cui parteciperà Martina, smettiamo di essere “solo” un brand di gioielli e allestiamo una vera e propria vetrina sul nostro microcosmo. E così, entrando nelle vite di chi ci segue e condividendo la nostra, intensifichiamo quel legame di cui i gioielli sono a tutti gli effetti il simbolo per eccellenza.</p>
        </section>
    </div>
</div>
{% endblock %}
