{% extends "base.html" %}
{% block content %}
<div class="log-in-page">
    <div class="container" id="container">
        <div class="form-container sign-up">
            <form>
                <h1>CREA UN ACCOUNT</h1>
                <label>Nome</label>
                <input placeholder="Name" type="text">
                <label>Email</label>
                <input placeholder="Email" type="email">
                <label>Password</label>
                <input placeholder="Password" type="password">
                <button type="button">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form>
                <h1>SIGN IN</h1>
                <label>Email</label>
                <input placeholder="Email" type="email">
                <label>Password</label>
                <input placeholder="Password" type="password">
                <a class="forgot" href="#"><span>HAI DIMENTICATO LA PASSWORD</span>? </a>
                <button type="button">Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>BENTORNATO!</h1>
                    <p>Se hai un account, accedi con il tuo indirizzo email.</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>REGISTRATI</h1>
                    <p>La creazione di un account ha molti vantaggi: check-out veloce, salvare più di un indirizzo, tenere traccia degli ordini e altro ancora.</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script crossorigin="anonymous" src="https://kit.fontawesome.com/your-kit-code.js"></script>
{% endblock %}